{% load static %}
<html lang="es" dir="ltr"> 
 <head>
   <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
   <meta charset="utf-8">
   <link rel="stylesheet" type="text/css" href="{% static 'css/stylelog.css' %}"><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&amp;display=swap" rel="stylesheet">
 </head>
 <body>
   <div class="main">
     <div class="container a-container" id="a-container">
       <form class="form" id="a-form" method="POST" action='upload' enctype="multipart/form-data">
        {% csrf_token %}
        <input class="" type="file" name="document">
        <br>
        <button class="form__input" type="submit">SUBMIT</button>
       </form>
     </div>
     <div class="switch" id="switch-cnt">          
       <div class="switch__container" id="switch-c1">
         <h2 class="switch__title title">Malicious Data</h2>
         <div>
          {% for message in messages %}
          <h1> {{message}} </h1>
          {% endfor %}
        </div>
       </div> 
     </div>
   </div>
   <script src="{% static 'js/app.js' %}"></script>
 </body>
</html>